.contenedor{
    color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
    .popup{
        align-items: center;
        width: 100%;
        max-width: 800px;
        height: 500px;
        position: relative;
        display: flex;
        flex-direction: column;
        visibility: hidden;
        top: -80%;
        left: -80%;
        transform: rotate(90deg) translate(-150%,230%);
        transition: all 600ms;
        justify-content: space-evenly;
        background-image: url(/src/assests/images/fondos/fondoinicio2.png);
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 8%;
        form{
            display: flex;
            flex-direction: column;
            width: 20%;
            height: 30%;
            justify-content: space-around;
        }
        .img{
            width: 15%;
        }
        .enviar{
            background-color: #F66D48;
            padding: 1%;
            border: solid black 1px;
            margin-left: 12.4%;
        }

    }
}
.contenedor:target{
    background: rgba(0,0,0,0.8);
    visibility: visible;
    opacity:1;
}

.contenedor:target .popup{
    top: 50%;
    left: 50%;
    transform: rotate(0deg) translate(-50%, -50%);
    visibility: visible;
}